.about-me {
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
}

.about-me-list {
    font-size: 16px;
    margin: 2px;
}

.about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 20px 0;
}