html{
  background-color: black;
}
body, ul, li, h1, h2, a{ 
  margin: 0;
  padding: 0;
}
nav{
  background-color: black;
  padding: 15px;
  position: fixed;
  z-index: 1;
  width:100%
}
nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li{
  width: 25%;
  display: inline-block;
  list-style: none;
}
nav li a{
  font-family: "Futura";
  text-decoration: none;
  color: white;
  font-size:125%
}
.banner{
  position: relative;
  z-index: -1; /*who knows*/
}
.banner img{
  max-width: 100%;
  margin:0;
}
.banner .slogan{
  position: absolute;
  left: 11%;
  top: 28%;
  color: white;
  font-family: "Futura";
  font-size: 270%;
  letter-spacing:0.03em;
}
.banner .welcome{
  position: absolute;
  right: 5%;
  bottom: 10%;
  color: white;
  font-family: "Impact";
}
.banner .welcome span{
  font-size: 1.5em;
}
.wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.wrapper img{
  width: 200vw;
  margin: 40px;
}
main{
  max-width: 100%;
  width: 1200px;
  margin: 50px auto;
  padding: 0 40px;
  box-sizing: border-box;
  font-family: "Futura";
}
article h2{
  color: white;
}
article p{
  font-size: 0.8em;
  color: #bac7d4
}
span {
  color: #1de4ad;
}