
body {
  font-family: helvetica;
  color: darkblue;
  text-align: center;
}

ul {
  font-family: monospace;
  text-align: center;
}
li {
  list-style: circle;
}

.list {
  list-style: square;
}

#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
