body {
  font-family: helvetica;
  color: darkblue;
  text-align: center;
}
ul {
  font-family: monospace;
  text-align: center;
}
li {
  list-style-type: square;
  text-shadow: 2px 2px #E9E9E9;
}
#date {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
